.container{  

    justify-content : space-between;
    margin: 10px auto;
    width: 1000px;
    height: 500px;
    display:flex;
    background-color: deeppink;
 
}
.item-1{
    background-color: antiquewhite;
    flex-grow: 5;
    width: 250px;
height: 495px;
margin: 5px;
}
.item-2{
    background-color: crimson;
    text-align: center;
    flex-grow: 10;
    width: 500px;
height: 495px;
margin: 5px;
}

.item-3{
    background-color: antiquewhite;
    text-align: center;
    flex-grow: 5;
    width: 250px;
height: 495px;
margin: 5px;
}